{
    "name": "{{ communityVersion }}",
    "config": {
        "main": "net.atos.entng.community.Community",
        "port": 8078,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "mongodb": true,
        "app-name": "Community",
        "app-address": "/community",
        "app-icon": "community-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "mode": "prod",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        }
    }
}