<wizard on-cancel="cancelCreation()" on-finish="finishCreateWizard()">
	<step>
		<h1><i18n>community.step.start</i18n></h1>
		<p><i18n>community.step.start.message</i18n></p>
	</step>

	<step on-next="setupServicesEditor()" next-condition="community.name ? true : false">
		<h1><i18n>community.step.properties</i18n></h1>
		<p><i18n>community.properties.directions</i18n></p>
		<container template="properties"></container>
	</step>

	<step on-next="setupMembersEditor()">
		<h1><i18n>community.step.services</i18n></h1>
		<h2>[[community.name]]</h2>
		<p><i18n>community.services.directions</i18n></p>
		<container template="services"></container>
	</step>

	<step>
		<h1><i18n>community.step.members</i18n></h1>
		<h2>[[community.name]]</h2>
		<p><i18n>community.members.directions</i18n></p>
		<container template="members"></container>
	</step>
</wizard>
