<div class="row">
	<div class="three cell" ng-repeat="service in community.services">
		<label workflow="[[service.workflow]]">
			<input type="checkbox" disabled class="disabled" checked="true" ng-if="service.mandatory" />
			<input type="checkbox" ng-model="service.active" ng-if="! service.mandatory" />

			<span translate content="community.services.[[service.name]].name"></span>
		</label>
	</div>
</div>

<div class="row">
	<label class="four cell"><i18n>community.services.home.message.label</i18n></label>
	<html-editor ng-model="community.serviceHome.content" class="twelve cell"></html-editor>
</div>