<div class="row">
	<label class="two cell"><i18n>community.name.label</i18n></label>
	<input type="text" ng-model="community.name" name="name" i18n-placeholder="community.name.placeholder" class="ten cell" required />
</div>

<div class="row">
	<label class="two cell"><i18n>community.icon.label</i18n></label>
	<label class="two cell"><i18n>community.description.label</i18n></label>
</div>

<div class="row">
	<image-select ng-model="community.icon" default="/img/illustrations/pages-default.png" thumbnails="[{ width: 150, height: 150 }]" class="two cell"></image-select>
	<textarea ng-model="community.description" name="description" i18n-placeholder="community.description.placeholder" class="ten cell"></textarea>
</div>
