<table>
	<thead>
		<tr>
			<th></th>
			<th><i18n>community.roles.manager</i18n></th>
			<th><i18n>community.roles.contrib</i18n></th>
			<th><i18n>community.roles.read</i18n></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><i18n>community.members.me</i18n></td>
			<td><input type="radio" group="[[me.userId]]" disabled class="disabled" checked="true"/></td>
			<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
			<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
		</tr>
		<tr ng-repeat="member in members">
			<td>[[member.displayName]]</td>
			<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="manager"/></td>
			<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="contrib"/></td>
			<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="read"/></td>
		</tr>
	</tbody>
</table>