<div class="row">
	<button ng-click="createCommunity()" workflow="community.create"><i18n>community.create</i18n></button>
</div>

<filters>
	<li ng-class="{ selected: filters.manager }">
		<label>
			<i class="mine type" tooltip="community.filters.manager"></i>
			<input type="checkbox" ng-model="filters.manager" />
		</label>
	</li>
</filters>

<div class="row">
	<input type="search" class="twelve cell" i18n-placeholder="search" ng-model="filters.search" />
</div>

<nav class="illustrated-links">
	<ul>
		<li ng-repeat="community in filteredCommunities = (communities.all | filter: roleMatch | filter:searchMatch)">
			<div class="illustration" ng-click="viewSite(community)">
				<img ng-src="[[community.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="community.icon" />
				<img skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!community.icon" />
			</div>
			<div class="content">
				<div class="row">
					<h1 class="eight cell"><a href="[[community.url()]]">[[community.name]]</a></h1>
					<div class="four cell right-magnet">
						<resource-right name="manager" resource="community" class="cell right-magnet">
							<button ng-click="removeCommunity(community)" class="right-magnet"><i18n>remove</i18n></button>
						</resource-right>
						<resource-right name="contrib" resource="community" class="cell right-magnet">
							<button ng-click="editCommunity(community)" class="right-magnet"><i18n>properties</i18n></button>
						</resource-right>
					</div>
				</div>
				<div class="row">
					<em>
						<i18n>community.user.role.start</i18n>
						<span translate content="community.user.role.[[community.role]]"></span>
						<i18n>community.user.role.end</i18n>
					</em>
					<p>[[community.description]]</p>
				</div>
			</div>
		</li>

		<li ng-if="filteredCommunities.length === 0">
			<em><i18n>community.list.empty</i18n></em>
		</li>
	</ul>
</nav>

<lightbox show="display.confirmDelete" on-close="cancelRemoveCommunity()">
	<p><i18n>community.confirm.delete</i18n></p>
	<div class="row">
		<button ng-click="doRemoveCommunity(community)" class="right-magnet"><i18n>remove</i18n></button>
		<button ng-click="cancelRemoveCommunity()" class="right-magnet cancel"><i18n>cancel</i18n></button>
	</div>
</lightbox>