<div class="twelve cell">
	<div class="eight cell">
		<h1><i18n>community.title</i18n></h1>
	</div>
	<div class="contextual-buttons four cell">
		<button ng-click="createCommunity()" class="right-magnet" workflow="community.create"><i18n>community.create</i18n></button>
	</div>
</div>

<div class="four cell row">
	<input type="search" class="twelve cell" i18n-placeholder="search" ng-model="filters.search" />
</div>
<div class="eight cell horizontal-spacing">
	<filters>
		<li ng-class="{ selected: filters.manager }">
			<label>
				<i class="mine type" tooltip="community.filters.manager"></i>
				<input type="checkbox" ng-model="filters.manager" />
			</label>
		</li>
	</filters>
</div>

<div class="fallen dominos">
	<div class="item" ng-repeat="community in filteredCommunities = (communities.all | filter:roleMatch | filter:searchMatch | orderBy:'name')">
		<section class="domino cyan">
			<div class="top" ng-click="openCommunity(community)">
				<img class="absolute" ng-src="[[community.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="community.icon" />
				<img class="absolute" skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!community.icon" />
			</div>
			<div class="bottom">
				<div class="content">
					<div ng-click="openCommunity(community)">
						<div class="cell-ellipsis"><strong>[[community.name]]</strong></div>
						<div class="two-lines">[[community.description]]</div>
					</div>
					<div class="bottom-locked eleven vertical-spacing-twice">
						<i class="view cell"   ng-if="community.role === 'read'"    tooltip="community.user.role.[[community.role]]"></i>
						<i class="edit cell"   ng-if="community.role === 'contrib'" tooltip="community.user.role.[[community.role]]"></i>
						<i class="manage cell" ng-if="community.role === 'manager'"  tooltip="community.user.role.[[community.role]]"></i>
					</div>
				</div>
			</div>

			<resource-right name="manager" resource="community">
				<check-tool ng-model="community.selected"></check-tool>
			</resource-right>

		</section>
	</div>
</div>

<!--nav class="illustrated-links">
	<ul>
		<li ng-repeat="community in filteredCommunities = (communities.all | filter:roleMatch | filter:searchMatch | orderBy:'name')">
			<div class="illustration" ng-click="viewSite(community)">
				<img ng-src="[[community.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="community.icon" />
				<img skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!community.icon" />
			</div>
			<div class="content">
				<div class="row">
					<h1 class="eight cell"><a href="[[community.url()]]">[[community.name]]</a></h1>
					<div class="four cell right-magnet">
						<resource-right name="manager" resource="community" class="cell right-magnet">
							<button ng-click="removeCommunity(community)" class="right-magnet"><i18n>remove</i18n></button>
							<button ng-click="editCommunity(community)" class="right-magnet"><i18n>properties</i18n></button>
						</resource-right>
					</div>
				</div>
				<div class="row">
					<em>
						<i18n>community.user.role.start</i18n>
						<span translate content="community.user.role.[[community.role]]"></span>
						<i18n>community.user.role.end</i18n>
					</em>
					<p>[[community.description]]</p>
				</div>
			</div>
		</li>

		<li ng-if="filteredCommunities.length === 0">
			<em><i18n>community.list.empty</i18n></em>
		</li>
	</ul>
</nav-->

<lightbox show="display.confirmDelete" on-close="cancelRemoveCommunity()">
	<p><i18n>community.confirm.delete</i18n></p>
	<div class="row">
		<button ng-click="doRemoveCommunities()" class="right-magnet"><i18n>remove</i18n></button>
		<button ng-click="cancelRemoveCommunity()" class="right-magnet cancel"><i18n>cancel</i18n></button>
	</div>
</lightbox>

<!-- Display actions for selected communities -->
<section class="toggle-buttons" ng-class="{ hide: communities.selection().length === 0 }">
	<div class="toggle">
		<div class="row">
			<resource-right name="manager" resource="communities.selection()" class="cell">
				<button ng-click="removeCommunities()"><i18n>remove</i18n></button>
				<button ng-click="editCommunity(communities.selection()[0])" ng-if="communities.selection().length === 1"><i18n>properties</i18n></button>
			</resource-right>
		</div>
	</div>
</section>
