<div class="share">
	<table class="groups-list">
		<thead>
			<tr>
				<th></th>
				<th><i18n>community.roles.read</i18n></th>
				<th><i18n>community.roles.contrib</i18n></th>
				<th><i18n>community.roles.manager</i18n></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i18n>community.members.me</i18n></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled" checked="true"/></td>
				<td></td>
			</tr>
			<tr ng-repeat="member in community.membersList">
				<td>[[member.displayName]]</td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="read" ng-change="setMemberRole(member)"/></td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="contrib" ng-change="setMemberRole(member)"/></td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="manager" ng-change="setMemberRole(member)"/></td>
				<td class="drop-line" ng-click="removeMember(member)"></td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<h2><i18n></i18n></h2>
		<input type="text" ng-model="membersEditor.search" ng-change="findUserOrGroup()" i18n-placeholder="community.members.search.placeholder" />
		<div class="found-users-list">
			<div ng-repeat="item in membersEditor.found | orderBy:'lastName' | limitTo:membersEditor.limit" >
				<div class="row">
                    <em class="row">
                        [[item.username]]
                        <em 
                            ng-repeat="profile in item.profiles" 
                            class="low-importance reduce-block-two" 
                            translate content="[[profile]]"></em>
                    </em>
                    <em ng-if="!item.isGroup" class="row">
                        <a ng-click="addMember(item, 'read')" tooltip="community.members.tooltip.read">
                            <i18n>community.roles.read.single</i18n>
                        </a>&nbsp;
                        <a ng-click="addMember(item, 'contrib')" tooltip="community.members.tooltip.contrib">
                            <i18n>community.roles.contrib.single</i18n>
                        </a>&nbsp;
                        <a ng-click="addMember(item, 'manager')" tooltip="community.members.tooltip.manager">
                            <i18n>community.roles.manager.single</i18n>
                        </a>
                    </em>
                </div>
                <div class="row vertical-spacing">
                    <em class="row">
                        [[item.name]]
                    </em>
                    <em ng-if="item.isGroup" class="row">
                        <a ng-click="addAllGroupMembers(item, 'read')" tooltip="community.members.group.tooltip.read">
                            <i18n>community.roles.read</i18n>
                        </a>&nbsp;
                        <a ng-click="addAllGroupMembers(item, 'contrib')" tooltip="community.members.group.tooltip.contrib">
                            <i18n>community.roles.contrib</i18n>
                        </a>&nbsp;
                        <a ng-click="addAllGroupMembers(item, 'manager')" tooltip="community.members.group.tooltip.manager">
                            <i18n>community.roles.manager</i18n>
                        </a>
                    </em>
                </div>
                
				
			</div>
			<a 
               ng-click="membersEditor.limit = membersEditor.limit + 5" 
               ng-if="membersEditor.found.length > 0 && membersEditor.found.length > membersEditor.limit"
				class="vertical-spacing-twice display-more-bar">
				<em><i18n>show.more</i18n></em>
			</a>
		</div>
	</div>
</div>
