<div class="share">
	<table class="groups-list">
		<thead>
			<tr>
				<th></th>
				<th><i18n>community.roles.read</i18n></th>
				<th><i18n>community.roles.contrib</i18n></th>
				<th><i18n>community.roles.manager</i18n></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i18n>community.members.me</i18n></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled"/></td>
				<td><input type="radio" group="[[me.userId]]" disabled class="disabled" checked="true"/></td>
				<td></td>
			</tr>
			<tr ng-repeat="member in members">
				<td>[[member.displayName]]</td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="read" ng-change="setMemberRole(member)"/></td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="contrib" ng-change="setMemberRole(member)"/></td>
				<td><input type="radio" group="[[member.id]]" ng-model="member.role" value="manager" ng-change="setMemberRole(member)"/></td>
				<td class="drop-line" ng-click="removeMember(member)"></td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<h2><i18n></i18n></h2>
		<input type="text" ng-model="search.term" ng-change="findUserOrGroup()" i18n-placeholder="community.members.search.placeholder" />
		<div class="found-users-list">
			<div ng-repeat="item in search.found | orderBy:'lastName' | limitTo:resultsLimit.limit" >
				<em ng-if="!item.isGroup" class="row">
					<span class="cell reduce-block-two">[[item.lastName]] [[item.firstName]]</span>
					<em ng-repeat="profile in item.profiles" class="low-importance cell reduce-block-two" translate content="[[profile]]"></em>
					&nbsp;:
					<a ng-click="addMember(item, 'read')" tooltip="community.members.tooltip.read">
						<i18n>community.roles.read.single</i18n>
					</a>&nbsp;
					<a ng-click="addMember(item, 'contrib')" tooltip="community.members.tooltip.contrib">
						<i18n>community.roles.contrib.single</i18n>
					</a>&nbsp;
					<a ng-click="addMember(item, 'manager')" tooltip="community.members.tooltip.manager">
						<i18n>community.roles.manager.single</i18n>
					</a>
				</em>
				<em ng-if="item.isGroup" class="row">
					<span class="cell reduce-block-two">[[item.name]]</span>
					<span class="cell reduce-block-two"><i18n>community.members.add.group</i18n></span>&nbsp;
					<a ng-click="addAllGroupMembers(item, 'read')" tooltip="community.members.group.tooltip.read">
						<i18n>community.roles.read</i18n>
					</a>&nbsp;
					<a ng-click="addAllGroupMembers(item, 'contrib')" tooltip="community.members.group.tooltip.contrib">
						<i18n>community.roles.contrib</i18n>
					</a>&nbsp;
					<a ng-click="addAllGroupMembers(item, 'manager')" tooltip="community.members.group.tooltip.manager">
						<i18n>community.roles.manager</i18n>
					</a>
				</em>
			</div>
			<a ng-click="resultsLimit.limit = resultsLimit.limit + resultsLimit.init" ng-if="search.found.length > 0 && search.found.length > resultsLimit.limit"
				class="vertical-spacing-twice display-more-bar">
				<em translate content="show.more"></em>
			</a>
		</div>
	</div>
</div>
