<div class="row warning" ng-if="community.error"><i18n>community.name.unique.error</i18n></div>
<div class="row">
	<label class="three cell"><i18n>community.name.label</i18n></label>
	<input type="text" ng-change="canEditCommunity(community)" ng-model="community.name" name="name" i18n-placeholder="community.name.placeholder" class="nine cell" required />
</div>

<div class="row">
	<label class="three cell"><i18n>community.icon.label</i18n></label>
	<label class="niine cell"><i18n>community.description.label</i18n></label>
</div>

<div class="row">
	<image-select ng-model="community.icon" default="/img/illustrations/pages-default.png" thumbnails="[{ width: 150, height: 150 }]" class="two cell"></image-select>
	<textarea ng-model="community.description" name="description" i18n-placeholder="community.description.placeholder" class="nine right-magnet"></textarea>
</div>
