<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}community.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="/community/public/dist/entcore/ng-app-30889b134f.js" type="text/javascript" id="context"></script>
	<script src="/community/public/dist/application-54471311d0.js" type="text/javascript"></script>
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="MainController">
<portal>
	<section>
		<container template="main"></container>
	</section>
</portal>
</body>
</html>